# Ignore Configurations
wp-config.php
wp-config-sample.php

# Ignore Directories
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/cache/
/wp-content/backup-db/
/wp-content/backups/
/wp-content/blogs.dir/
/wp-content/upgrade/

# Ignore Files
/license.txt
/readme.html
/.htaccess
/.user.ini

# Ignore Node Modules
/node_modules/

# Ignore Composer Files
/vendor/
/composer.lock
